body {
	background-color: black;
	min-width: 100%;
	min-height: 100%;
	background: url(../Images/homepageMinimal.jpg)no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.monthly-day-title-wrap div {
	font-weight: bolder;
}

.monthly-day-total {
	font-style: italic;
	right: 0;
	bottom: 0;
	position: absolute;
	margin-right: .5em;
}

.monthly-day-total-positive {
	color: #1E824C;
}
.monthly-day-total-negative {
	color: rgb(192,57,43);
}

.monthly-week:nth-child(2n) .monthly-day {
	background-color: #ecf0f1;
}

.page .panel, .page .panel .panel-heading {
	/*border-radius: 0;*/
}

.page .panel .panel-body {
	padding: 0px;
	border: none;
}

.page .panel {
	padding: 0px;
	border: none;
}

.transaction-table {
	width: 100%;
}

.transaction-table th {
	border-bottom: 1px solid black;
	color: white;
}

.transaction-table tr {
	height: 30px;
}

.transaction-table tr td, .transaction-table tr th{
	padding-left: 5px;
}

.transaction {
	color: black;
	font-weight: bold;
}

.transaction:hover {
	-webkit-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.2);
}

.transaction td:first-child {
	padding-left: 5px;
}

.transaction-positive {
	background-color: #2ecc71;
	border-bottom: 1px solid #141414;
}

.transaction-negative {
	background-color: #e74c3c;
	border-bottom: 1px solid #141414;
}

.transactionTotalPositive{
	color: #2ecc71;
	font-weight: bolder;
}

.transactionTotalNegative {
	color: #e74c3c;
	font-weight: bolder;
}

.toggler {
	left: 0px;
	top: 82px;
	position: absolute;
	z-index: 99;
}

.toggler button {
	height: 40px;
	border: none;
	background: #457fca; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #457fca , #5691c8); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #457fca , #5691c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.toggler button:focus {
	border: none;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.sliderbarButton {
	display: block;
	width: 100%;
}

.sliderbarButton:focus {
	outline: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 5px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 5px !important;
	transform-origin: left center;
	transform: scale(1.2);
}

.sliderbarButton:hover {
	transform-origin: left center;
	transform: scale(1.2);
}

#billsTab {
	background: #f85032; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f85032 , #e73827); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f85032 , #e73827); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#incomeTab {
	background: #76b852; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #76b852 , #8DC26F); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #76b852 , #8DC26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.transactionSlidebar {
	padding: 0;
	padding-right: 20px;
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.transactionAddButton {
	display: block;
	position: relative;
	background-color: #141414;
	border-radius: 5px;
	width: 90%;
	height: 50px;
	bottom: 0;
	text-align: center;
	margin: 5%;
	margin-top: 20%;
	padding-top: 15px;
	font-weight: bold;
}
#incomeAddButton:hover {
	color: #2ecc71;
	background-color: white;
	border: 1px solid #2ecc71;
}

#billAddButton:hover {
	color: #e74c3c;
	background-color: white;
	border: 1px solid #e74c3c;
}

#transactionAddButton:hover {
	color: #141414;
	background-color: white;
	border: 1px solid #141414;
}

.transactionMonth{
	padding-left: 10px;
}

/*TRANSACTION ADD*/
#addTransactionModal .modal-dialog .modal-content{
	border: border: 1px solid #141414;
}
#addTransactionModalHeader {
	background: #457fca; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #457fca , #5691c8); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #457fca , #5691c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: white;
}

/*BILL ADD*/
#addBillModal .modal-dialog .modal-content{
	border: 1px solid #e74c3c;
}
#addBillModalHeader {
	background: #f85032; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f85032 , #e73827); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f85032 , #e73827); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: #141414;
}

/*INCOME ADD*/
#addIncomeModal .modal-dialog .modal-content{
	border: 1px solid #2ecc71;
}
#addIncomeModalHeader {
	background: #76b852; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #76b852 , #8DC26F); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #76b852 , #8DC26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: #141414;
}
.modal-header h4 {
	font-weight: bold;
}